<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Nursing</string>
	<string>Emergency</string>
	<string>Body</string>
	<string>Food</string>
	<string>Bath/sleep</string>
	<string>Bedroom</string>
	<string>Entertainment</string>
	<string>Caring and Loving</string>
</array>
</plist>
